h1 {
    font-family: 'Zilla Slab', serif;
    color: #62c4a0;
}

h2 {
    font-family: 'Zilla Slab', serif;
    color: #00613a;
}

h3 {
    font-family: 'Zilla Slab', serif;
}

h4 {
    font-family: 'Zilla Slab', serif;
    color: #62c4a0;
}

h5 {
    font-family: 'Zilla Slab', serif;
    color: #00613a;
}

p {
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
}
